html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.left {
  width: 23vw;
  padding: 30px;
  position: fixed;
}

.right {
  padding: 50px;
  left: 23vw;
  position: absolute;
  background-color: #d3d3d3;
}
p.name {
  font-size: 30px;
}
p.position {
  font-weight: 600;
  color: #696969;
}
p.contact {
  margin-top: 50vh;
}
p.hi {
  font-size: 3em;
}
p.intro {
  color: #696969;
  font-weight: 600;
  font-size: 1.2em;
}
span.head {
  font-size: 1.4em;
  font-weight: 700;
  border-bottom: 2px solid #343434;
  color: #343434;
}
ul {
  list-style-type: square;
}

p.project_name {
  font-size: 1.27em;
  font-weight: 600;
  color: #000000c7;
  margin-bottom: 5px;
}
p.time {
  margin-top: 5px;
  color: dimgrey;
}
span.des {
  color: black;
  text-decoration: underline;
}

li {
  color: #696969;
}
.aboutme:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.5s;
}

.aboutme {
  color: black;
  font-size: 1.3em;
  transition: 0.5s;
  font-weight: 700;
}
.aboutme.ct {
  color: #696969;
}
.aboutme.ct:hover {
  color: black;
}
